{% extends 'base.html' %}
{% block title %} Barcha maqolalar shu yerda{% endblock title %}


{% block content %}

<div class="container">
    {% for article in object_list %}
    <div class="card mb-3">
        <div class="card-header">
            <a href="{% url 'article_detail' article.pk%}" class="font-weight-bold">{{ article.title }}</a>
            <p class="text-muted"> {{ article.author }} ga tegishli | {{article.date}}</p>
        </div>
        {% if article.photo %}
        <div class="container">
            <img src="{{ article.photo.url}}" style="width:50%" alt="{{object.title}}">

        </div>

        {% endif %}

        <div class="card-body">

            {{ article.kichik }}   <a href="{% url 'article_detail' article.pk%}">Batafsil</a>
        </div>
        {% if user.is_authenticated %}
        <div class="card-foother text-center text-muted" style="padding-bottom:20px;">
            <a href="{% url 'article_edit' article.pk %}" class="btn btn-success">Tahrirlash</a>
            <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">O'chirish</a>
        </div>
        {% endif%}

    </div>
    {% endfor %}
</div>




{% endblock content %}